.star-field {
    animation: fadeInAnimation 1s;
}

.star-field__small,
.star-field__medium,
.star-field__large {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    color: #a7cfff;
    filter: blur(1px);
    opacity: .75;
    animation-name: starFieldAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/*
By inheriting the box shadows, we don't need to repeat the CSS for the box shadows twice per start-field__size
We translate this "clone" up 450px, the height of the container (marquee) so that when the animation starts over, the
Transition is seamless
*/
.star-field__clone {
    box-shadow: inherit;
    position: relative;
    height: 100%;
}

.star-field__egg {
    position: absolute;
    width: 1px;
    animation-name: starFieldAnimation;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    left: 200px;
}

@keyframes fadeInAnimation {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes starFieldAnimation {
    100% {
        transform: translateY(0px);
    }
}

@keyframes eggAnim {
    0% {
        top: -30px
    }
    100% {
        top: 110%;
    }
}