.contact-form__submit-indicator {
    background: #f6fff5;
    color: #095f02;
    border-radius: 2px;
    line-height: 24px;
}

.contact-form__submit-indicator-invalid {
    border: 1px solid #a90400;
    background: #fff4f4;
    color: #a90400;
}

.contact-form__submit-indicator-invalid,
.contact-form__submit-indicator-valid {
    padding: .25rem .5rem;
    border: 1px solid;
    margin-bottom: 1.45rem;
}