.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #eee;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    padding: 0 .75rem 0 1.25rem;
    top: 0;
    z-index: 999;
}

.header__heading {
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
}