.footer {
    padding: 1rem;
    background: #191919;
    color: #fff;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.footer a {
    text-decoration: none;
    border-bottom: 1px dotted;
    color: #EF6F6C;
}

.footer a:hover {
    color: #73628A;
}