.code-block__wrapper {
    margin: 2rem 0;
}

.code-block__wrapper-expanded {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background: rgba(25, 25, 25, 0.85);
    z-index: 999;
    margin: 0;
}

.code-block {
    position: relative;
}

.code-block__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #73628A;
    border-radius: 2px 2px 0 0;
    padding: .5rem;
    color: #fff;
}

.code-block__lang {
    display: flex;
    align-items: center;
    justify-content: center;
}

.code-block__lang-icon {
    fill: #fff;
    width: 24px;
    height: 24px;
    margin-right: .5rem;
}

.code-block__wrapper-typescript .code-block__header,
.code-block__wrapper-tsx .code-block__header {
    background: #007acc;
}

.code-block__wrapper-css .code-block__header {
    background: #274de5;
}

.code-block__wrapper-html .code-block__header {
    background: #d84a24;
}

.code-block__expand-toggle {
    background: transparent;
    color: inherit;
    padding: 0;
    border: 1px solid transparent;
    border-radius: 0;
    text-transform: none;
    box-shadow: none;
    display: flex;
    align-items: center;
    padding-bottom: 1px;
}

.code-block__expand-icon {
    fill: #fff;
    width: 18px;
    height: 18px;
    margin-left: .25rem;
}

.code-block__expand-toggle:hover,
.code-block__expand-toggle:focus {
    color: inherit;
    background: transparent;
    border-bottom: 1px dotted;
}

.code-block .prism-code {
    padding: 1rem 1rem 0;
    overflow: scroll;
    border-radius: 0 0 2px 2px;
    margin: 0;
    max-height: 320px;
}

.code-block__wrapper-expanded .code-block .prism-code {
    max-height: none;
}

.code-block__wrapper-expanded .code-block {
    position: fixed;
    z-index: 999;
    overflow: scroll;
    height: calc(100vh - 3rem);
    width: calc(100vw);
    top: 3rem;
    left: 0;
    right: 0;
    border-radius: 2px;
}

@media screen and (min-width: 650px) {
    .code-block__wrapper-expanded .code-block {
        position: fixed;
        top: 3rem;
        height: calc(100vh - 9rem);
        width: calc(100vw - 6rem);
        margin: 3rem auto;
    }
}

@media screen and (min-width: 960px) {
    .code-block__wrapper {
        margin: 3rem -4rem;
    }
    .code-block pre {
        max-height: 500px;
    }
}